@font-face {
    font-family: fonticon;
    src: url('../fonts/fonticon/fonticon.eot');
    src: url('../fonts/fonticon/fonticon.eot?#iefix') format('embedded-opentype'), url('../fonts/fonticon/fonticon.woff2') format('woff2'), url('../fonts/fonticon/fonticon.woff') format('woff'), url('../fonts/fonticon/fonticon.ttf') format('truetype')
}